body {
    background-color: white;
}

.bg-primary {
    background-color: #0058D6;
}

.text-primary {
    color: #0058D6;
}

.text-message {
    font-size: 18px;
    font-weight: lighter;
}

.text-caption-bold {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
}

.text-caption {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
}

.text-body {
    font-size: 24px;
    font-weight: normal;
}

.text-white {
    color: white !important;
}

.text-yellow {
    color: #FCD71D;
}

.text-body-bold {
    font-size: 24px;
    font-weight: bold;
}

.text-subheader {
    font-size: 28px;
    font-weight: bold;
}

.text-title {
    font-size: 32px;
    font-weight: bolder;
}

.text-headline {
    font-size: 52px;
    font-weight: bolder;
}

.navbar {
    height: 76px;
    border-bottom-right-radius: 32px;
}

.navbar-brand {
    margin: 0 75px;
}

.nav-link {
    margin: 0 15px;
}

.headline-box {
    height: 643px;
    border-bottom-right-radius: 32px;
    padding: 75px;
    background-image: url("../images/base/headline-background.png");
    background-position: 96px 12px;
    background-repeat: no-repeat;
}

.user-has-joined-box {
    height: 643px;
    margin: 30% 0;
}

.user-has-joined-info {
    margin: 100px 0;
}

.img-background-home {
    object-fit: cover;
    max-width: 100%;
    max-height: 100vh;
    height: auto;
}

.home-step-box {
    padding: 0 50px;
    margin-top: 15%;
}

.home-step-content {
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    background-color: white;
    padding: 3%;
}

.circle {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    line-height: 55px;
    border: 5px solid #FCD71D;
    margin: 3rem 0 1rem 4rem;
}

img {
    object-fit: cover;
}

form label {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    display: flex;
}

.form-group input, .form-group select, .form-group textarea {
    font-size: 20px;
    border: 1px solid #20353E;
    box-sizing: border-box;
    border-radius: 8px;
    height: 52px;
}

.form-group textarea {
    height: 100px;
}

.form-group input:focus, .form-group select:focus, .form-group textarea:focus {
    box-shadow: 0px 0px 4px rgba(0, 88, 214, 0.56);
}

.form-action button {
    border-radius: 8px;
    width: 100%;
    height: 52px;
    font-weight: 600;
    font-size: 20px;
}

.btn-outline-primary {
    border: 1px solid #0058D6;
    color: #0058D6;
}

.btn-primary {
    background-color: #0058D6;
    color: white;
}

.footer {
    height: 280px;
    width: 100%;
    background-image: url("../images/base/footer-background.png");
    background-repeat: no-repeat;
    padding: 20px;
}

.footer li {
    list-style-type:none;
}

.auth-bg {
    background-position: 100% 3%;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 50vh;
    height: 100%;
    padding: 1rem 1rem 1rem 3rem;
}

.auth-container {
    position: relative;
    min-height: 50vh;
}

.auth-content {
    margin: 9% 0;
}

/*@media (max-width: 1023px) {*/

/*}*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .auth-container {
        min-height: 50vh;
    }

    .auth-bg {
        min-height: 50vh;
        background-position: 15% 5%;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .auth-container {
        min-height: 100vh;
    }

    .auth-bg {
        min-height: 100vh;
        background-position: 30% 3%;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .auth-container {
        min-height: 100vh;
    }

    .auth-bg {
        min-height: 100vh;
        background-position: 100% 5%;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .auth-container {
        min-height: 100vh;
    }

    .auth-bg {
        min-height: 100vh;
        background-position: 100% 5%;
    }
}
